
services:
  web:
    build: .
    container_name: trading_web
    ports:
      - "8000:8000"
    env_file:
      - ./_environment/.env
    depends_on:
      - db
      - redis

  celery:
    build: .
    container_name: trading_celery
    command: celery -A config worker -l info
    env_file:
      - ./_environment/.env
    depends_on:
      - db
      - redis

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: trading_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    ports:
      - "5432:5432"

  redis:
    image: redis:7
    ports:
      - "6379:6379"